{% extends 'layouts/master.html' %}
{% block content %}

<!--Total Stat-->
<div class="card mb-3">

    <div class="card-header">
        <h5 class="card-title mb-0 text-center">Dünya üzrə</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-auto mb-md-0 mb-2">
                <div class="c-callout">
                    <h5 class="card-title mb-0">{{ stats.total_cases }}</h5>
                    <div class="text-muted">Yoluxma</div>
                </div>
            </div>

            <div class="col-md-4 col-sm-auto mb-md-0 mb-2">
                <div class="c-callout c-callout-danger">
                    <h5 class="card-title mb-0">{{ stats.total_deaths }}</h5>
                    <div class="text-muted">Ölüm</div>
                </div>
            </div>

            <div class="col-md-4 col-sm-auto mb-md-0 mb-2">
                <div class="c-callout c-callout-success">
                    <h5 class="card-title mb-0">{{ stats.total_recovered }}</h5>
                    <div class="text-muted">Sağalma</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3">

            <div class="card-header">
                <h5 class="card-title mb-0">Aktiv hallar</h5>
            </div>

            <div class="card-body">
                <h5 class="card-title mb-0">{{ stats.active_cases }}</h5>
                <div class="text-muted">Hal hazırda yoluxmuş xəstələr</div>
            </div>

            <div class="card-footer">

                <div class="row">

                    <div class="col-12 mb-sm-2 mb-0">

                        <span class="text-muted">Vəziyyəti mülayim</span>

                        {% set mild_condition = stats.active_cases|int - stats.critical_cases|int %}
                        {% set mild_percent = (mild_condition/stats.active_cases|int * 100)|round|int %}


                        <strong class="float-right font-weight-bold">{{ mild_condition }}
                            <span class="text-muted small">({{ mild_percent }}%)</span>
                        </strong>

                        <div class="progress mt-2" style="height: 10px">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar"
                                 aria-valuenow="{{ mild_percent }}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{ mild_percent }}%">
                            </div>
                        </div>

                    </div>

                    <div class="col-12 mb-sm-2 mb-0">

                        <span class="text-muted">Vəziyyəti ağır</span>

                        {% set critical_percent = (stats.critical_cases|int / stats.active_cases|int *
                        100)|round|int %}

                        <strong class="float-right font-weight-bold">{{ stats.critical_cases }}
                            <span class="text-muted small">({{ critical_percent }}%)</span>
                        </strong>

                        <div class="progress mt-2" style="height: 10px">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                 role="progressbar"
                                 aria-valuenow="{{ critical_percent }}" aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: {{ critical_percent }}%">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3">

            <div class="card-header">
                <h5 class="card-title mb-0">Bağlı hallar</h5>
            </div>

            {% set closed_cases = stats.total_cases|int - stats.active_cases|int %}

            <div class="card-body">
                <h5 class="card-title mb-0">{{ closed_cases }}</h5>
                <div class="text-muted">Nəticəsi məlum olan hallar</div>
            </div>

            <div class="card-footer">

                <div class="row">

                    <div class="col-12 mb-sm-2 mb-0">

                        <span class="text-muted">Sağalma</span>

                        {% set recovered_percent = (stats.total_recovered|int / closed_cases *
                        100)|round|int %}

                        <strong class="float-right font-weight-bold">{{ stats.total_recovered }}
                            <span class="text-muted small">({{ recovered_percent }}%)</span>
                        </strong>

                        <div class="progress mt-2" style="height: 10px">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 aria-valuenow="{{ recovered_percent }}" aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: {{ recovered_percent }}%">
                            </div>
                        </div>

                    </div>

                    <div class="col-12 mb-sm-2 mb-0">

                        <span class="text-muted">Ölüm</span>

                        {% set death_percent = (stats.total_deaths|int / closed_cases * 100)|round|int %}

                        <strong class="float-right font-weight-bold">{{ stats.total_deaths }}
                            <span class="text-muted small">({{ death_percent }}%)</span>
                        </strong>

                        <div class="progress mt-2" style="height: 10px">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                 role="progressbar"
                                 aria-valuenow="{{ death_percent }}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{ death_percent }}%">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="row">
    <div class="col-12 mx-auto">
        <div class="table-responsive">
            <table id="covid" class="table table-striped table-bordered datatable display nowrap compact" style="width: 100%">
                <thead>
                <tr>
                    {% for col in columns %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                    {% set rowloop = loop %}
                    {% for col in row %}
                    <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}