<div class="row">
    <div class="col-12 mx-auto">
        <hr>
        <p class="text-center" style="margin-bottom: 18px;">Made in <img src="/static/images/flag-az.svg"
                                                                         width="20" alt="Azerbaijan"> by <a
                href="https://github.com/maharramoff" target="_blank">Maharramoff</a></p>
        <p class="text-center" style="margin-bottom: 18px;">Please <a
                href="mailto:sh.maharramov@gmail.com?subject=Coronavirus">Email me</a> with any questions or
            concerns.</p>
    </div>
</div>