.c-callout {
    border-left: 4px solid #d8dbe0;
}

.c-callout-info {
    border-left-color: #39f;
}

.c-callout-danger {
    border-left-color: #e55353;
}

.c-callout-warning {
    border-left-color: #f9b115;
}

.c-callout-success {
    border-left-color: #2eb85c;
}

.c-callout {
    position: relative;
    padding: 0 0 0 1rem;
    border-radius: .25rem;
}

/* Datatable */
td.highlight_red {
    color: #FF4136;
}

td.highlight_yellow {
    color: #FFDC00;
}

td.highlight_orange {
    color: #FF851B;
}

td.highlight_maroon {
    color: #85144b;
}

td.bottom_red {
    border-bottom: 2px solid red !important;
}

.logo {
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    bottom: 0;
    text-align: center;
}

.navbar-light .navbar-toggler {
    z-index: 1;
}

/*div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}*/

/*
.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner table {
    width: 100% !important;
}*/
