<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Confirmed Coronavirus Cases and Deaths by Country</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.herokucdn.com/favicons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="https://www.herokucdn.com/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="https://www.herokucdn.com/favicons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="https://www.herokucdn.com/favicons/icon.svg" color="#79589F">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <style type="text/css">
        td.highlight_red {
            color: #FF4136;
        }

        td.highlight_yellow {
            color: #FFDC00;
        }

        td.highlight_orange {
            color: #FF851B;
        }

        td.highlight_maroon {
            color: #85144b;
        }

        td.bottom_red {
            border-bottom: 2px solid red
        }

    </style>
</head>
<body>