<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Confirmed Coronavirus Cases and Deaths by Country</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.herokucdn.com/favicons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.herokucdn.com/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.herokucdn.com/favicons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="https://www.herokucdn.com/favicons/icon.svg" color="#79589F">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <style type="text/css">
        td.highlight_red {
            color: #FF4136;
        }
        td.highlight_yellow {
            color: #FFDC00;
        }
        td.highlight_orange {
            color: #FF851B;
        }
    </style>
</head>
<body>
<div class="container p-3">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                {{table | safe}}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('.dataframe').DataTable({
        "paging": false,
        "info":   false,
        language: {
            search: "Axtarış:"
        },
        "createdRow": function ( row, data, index ) {
            if ( data[3].replace(/[\$,]/g, '') * 1 > 0 ) {
                $('td', row).eq(3).addClass('highlight_yellow');
            }
            if ( data[5].replace(/[\$,]/g, '') * 1 > 0 ) {
                $('td', row).eq(5).addClass('highlight_red');
            }
        }
    });
} );
</script>
</body>
</html>
