<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Confirmed Coronavirus Cases and Deaths by Country</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.herokucdn.com/favicons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="https://www.herokucdn.com/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="https://www.herokucdn.com/favicons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="https://www.herokucdn.com/favicons/icon.svg" color="#79589F">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style type="text/css">
        td.highlight_red {
            color: #FF4136;
        }

        td.highlight_yellow {
            color: #FFDC00;
        }

        td.highlight_orange {
            color: #FF851B;
        }

        td.highlight_maroon {
            color: #85144b;
        }

        td.bottom_red {
            border-bottom: 2px solid red
        }

    </style>
</head>
<body>
<div class="container p-3">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mx-auto">

            <!--{{ stats }}-->

            <!--Total Stat-->
            <div class="card mb-3">

                <div class="card-header">
                    <h5 class="card-title mb-0 text-center">Dünya üzrə</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="c-callout">
                                <strong class="text-muted">Yoluxma</strong>
                                <div class="text-value-lg">{{ stats.total_cases }}</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="c-callout c-callout-danger">
                                <strong class="text-muted">Ölüm</strong>
                                <div class="text-value-lg">{{ stats.total_deaths }}</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="c-callout c-callout-success">
                                <strong class="text-muted">Sağalma</strong>
                                <div class="text-value-lg">{{ stats.total_recovered }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card mb-3">

                        <div class="card-header">
                            <h5 class="card-title mb-0">Aktiv hallar</h5>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ stats.active_cases }}</h5>
                            <div class="text-muted">Hal hazırda yoluxmuş xəstələr</div>
                        </div>

                        <div class="card-footer">

                            <div class="row">

                                <div class="col-12 mb-sm-2 mb-0">

                                    <span class="text-muted">Vəziyyəti mülayim</span>

                                    {% set mild_condition = stats.active_cases|int - stats.critical_cases|int %}
                                    {% set mild_percent = (mild_condition/stats.active_cases|int * 100)|round|int %}


                                    <strong class="float-right font-weight-bold">{{ mild_condition }}
                                        <span class="text-muted small">({{ mild_percent }}%)</span>
                                    </strong>

                                    <div class="progress mt-2" style="height: 10px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                             role="progressbar"
                                             aria-valuenow="{{ mild_percent }}" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ mild_percent }}%">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 mb-sm-2 mb-0">

                                    <span class="text-muted">Vəziyyəti ağır</span>

                                    {% set critical_percent = (stats.critical_cases|int / stats.active_cases|int * 100)|round|int %}

                                    <strong class="float-right font-weight-bold">{{ stats.critical_cases }}
                                        <span class="text-muted small">({{ critical_percent }}%)</span>
                                    </strong>

                                    <div class="progress mt-2" style="height: 10px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                             role="progressbar"
                                             aria-valuenow="{{ critical_percent }}" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ critical_percent }}%">
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card mb-3">

                        <div class="card-header">
                            <h5 class="card-title mb-0">Bağlı hallar</h5>
                        </div>

                        {% set closed_cases = stats.total_cases|int - stats.active_cases|int %}

                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ closed_cases }}</h5>
                            <div class="text-muted">Nəticəsi məlum olan hallar</div>
                        </div>

                        <div class="card-footer">

                            <div class="row">

                                <div class="col-12 mb-sm-2 mb-0">

                                    <span class="text-muted">Sağalma</span>

                                    {% set recovered_percent = (stats.total_recovered|int / closed_cases * 100)|round|int %}

                                    <strong class="float-right font-weight-bold">{{ stats.total_recovered }}
                                        <span class="text-muted small">({{ recovered_percent }}%)</span>
                                    </strong>

                                    <div class="progress mt-2" style="height: 10px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                             role="progressbar"
                                             aria-valuenow="{{ recovered_percent }}" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ recovered_percent }}%">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 mb-sm-2 mb-0">

                                    <span class="text-muted">Ölüm</span>

                                    {% set death_percent = (stats.total_deaths|int / closed_cases * 100)|round|int %}

                                    <strong class="float-right font-weight-bold">{{ stats.total_deaths }}
                                        <span class="text-muted small">({{ death_percent }}%)</span>
                                    </strong>

                                    <div class="progress mt-2" style="height: 10px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                             role="progressbar"
                                             aria-valuenow="{{ death_percent }}" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ death_percent }}%">
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <div class="table-responsive">
                {{table | safe}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mx-auto">
            <hr>
            <p class="text-center" style="margin-bottom: 18px;">Made in <img src="../static/images/flag-az.svg"
                                                                             width="20" alt="Azerbaijan"> by <a
                    href="https://github.com/maharramoff" target="_blank">Maharramoff</a></p>
            <p class="text-center" style="margin-bottom: 18px;">Please <a
                    href="mailto:sh.maharramov@gmail.com?subject=Coronavirus">Email me</a> with any questions or
                concerns.</p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.20/fh-3.1.6/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dataframe').DataTable({
            paging: false,
            fixedHeader: true,
            info: false,
            language: {
                search: "Axtarış:",
                emptyTable: "Məlumat tapılmadı. Zəhmət olmasa az sonra yenidən yoxlayın.<br/>" +
                    "Əgər yenə alınmasa mənə <a href=\"mailto:sh.maharramov@gmail.com?subject=Coronavirus - Məlumat tapılmadı\">Email</a> göndərin."
            },
            "createdRow": function (row, data, index) {
                if (data[2].replace(/[\$,]/g, '') * 1 > 0) {
                    $('td', row).eq(2).addClass('highlight_maroon');
                }
                if (data[4].replace(/[\$,]/g, '') * 1 > 0) {
                    $('td', row).eq(4).addClass('highlight_red');
                }
                if (data[1].indexOf('baijan') >= 0) {
                    $('td', row).eq(0).addClass('bottom_red');
                }
            }
        });
    });
</script>
</body>
</html>
